*,
*::before,
*::after {
  outline: 2px solid tomato;
}

body {
  background-color: $main-bg-color;
  color: $main-text-color;
  font-family: $main-font;
  @include font(14px, 1.71);
  letter-spacing: 0.03em;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0px 15px;
  margin: 0px auto;

  @include for-size(mobile) {
    width: 480px;
  }

  @include for-size(tablet) {
    width: 768px;
  }

   @include for-size(desktop) {
    width: 1200px;
  }
}

// .flex {
//   @include flexbox;
// }
